*{
  margin:0;
  padding:0;
  
}

body{
  background: #071952;
  color: white;
  font-family: 'Fraunces', serif;
  font-family: 'VT323', monospace;
}


.app{
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.heading{
  margin: 0.3em;
  font-family: 'Fraunces', serif;
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: #97FEED;
}

.gameboard{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px white;
}

.square{
  width: 100px;
  height: 100px;
  border: solid 2px white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid #6528F7;
  box-sizing: border-box;
}

.cross{
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before, .cross:after{
  content: "";
  position: absolute;
  background:#35A29F;
}
.cross:before{
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after{
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.message{
  padding: 0.3em;
  margin: 0.5em;
  font-family: 'Fraunces', serif;
  font-family: 'VT323', monospace;
  font-size: 1.1em;
  color: #97FEED;
}

.reset{
  background: #97FEED;
  /* border: none; */
  padding: .5em;
  width: 10em;
  border-radius: 2px;
  color: black;
  font-size: 1.5em;
  margin-top: 1em;
   font-family: 'Fraunces', serif;
  font-family: 'VT323', monospace;
}

